<h2 class="text-capitalize"><a href="{{url}}" target="_blank">{{name}}</a></h2>

<h4>Fees</h4>
<div class="columns no-padding-top">
  <div class="table-left" style="min-width: 100px">
    <input type="number" class="form-input">
  </div>
  <div class="table-right calculate-container">
    <div class="calculate-left">Deposit fee</div>
    <div class="calculate-right">$0.00</div>
    <div class="calculate-left">Trading fee</div>
    <div class="calculate-right">$0.00</div>
    <div class="calculate-left">Spread/Slippage fee</div>
    <div class="calculate-right">$0.00</div>
    <div class="calculate-left">Total</div>
    <div class="calculate-right">$0.00</div>
  </div>
</div>
<h4>Features</h4>
<div class="columns no-padding-top">
  <div class="table-left">Coins</div>
  <div class="table-right">{{coins}}</div>
  <div class="table-left top-divider">OTC</div>
  <div class="table-right top-divider"><i class="icon icon-cross"></i></div>
  <div class="table-left top-divider">Recurring Buy</div>
  <div class="table-right top-divider"><i class="icon icon-cross"></i></div>
  <div class="table-left top-divider">FIAT Funding options</div>
  <div class="table-right top-divider">{{fiatFundingOptions}}</div>
  <div class="table-left top-divider">FIAT Withdrawal options</div>
  <div class="table-right top-divider">{{fiatWithdrawalOptions}}</div>
</div>
<h4>KYC</h4>
<div class="columns no-padding-top">
  <div class="table-left">Documents</div>
  <div class="table-right">{{kyc.documents}}</div>
  <div class="table-left top-divider">Processing time</div>
  <div class="table-right top-divider">{{kyc.processing}}</div>
</div>
<h4>Support</h4>
<div class="columns no-padding-top">
  <div class="table-left">Response time</div>
  <div class="table-right">{{support.responseTime}}</div>
</div>
<h4>Referral</h4>
<div class="columns no-padding-top">
  <div class="table-left">Rule</div>
  <div class="table-right">{{referral.text}}</div>
</div>
