<h3>Cheapest exchanges</h3>
<p>Summary of the cheapest ways to buy or sell crypto using canadian dollars</p>

<div class="form-group">
  <label class="form-switch">
    <input type="checkbox" checked>
    <i class="form-icon"></i>
    Sell / Buy
  </label>
</div>

<div class="card">
  <table class="table" id="result-table">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Exchange</th>
        <th>Method</th>
        <th>Fee</th>
      </tr>
    </thead>
    {{#each tiers as |tier| }}
    <tbody id="table-tbody">
      {{#if @index}}
      <tr style="height: 2.25rem;">
        <td class="table-hover-disable"></td>
        <td class="table-hover-disable"></td>
        <td class="table-hover-disable"></td>
        <td class="table-hover-disable"></td>
      </tr>
      {{/if}}
      {{#each tier.deposits}}
      <tr class="deposits">
        <td>
          <div>
            <a href="/exchange/{{this.exchangeInfo.name}}">{{this.exchangeInfo.name}}</a>
            {{#unless @index}}${{tier.amount}}{{/unless}}
          </div>
        </td>
        <td class="text-capitalize">
          <div>
            <a href="/exchange/{{this.exchangeInfo.name}}">{{this.exchangeInfo.name}}</a>
            {{this.exchangeInfo.name}}
          </div>
        </td>
        <td>
          <div>
            <a href="/exchange/{{this.exchangeInfo.name}}">{{this.exchangeInfo.name}}</a>
            {{this.method.type}}
          </div>
        </td>
        <td>
          <div>
            <a href="/exchange/{{this.exchangeInfo.name}}">{{this.exchangeInfo.name}}</a>
            {{this.fee}}%
          </div>
        </td>
      </tr>
      {{/each}}
      {{#each tier.withdraws}}
      <tr class="withdraws d-none">
        {{!-- <td>{{#unless @index}}${{tier.amount}}{{/unless}}</td>
        <td class="text-capitalize">
          <a href="{{this.exchangeInfo.url}}" target="_blank">
            {{this.exchangeInfo.name}}
          </a>
        </td>
        <td>{{this.method.type}}</td>
        <td>{{this.fee}}%</td> --}}
        <td>
          <div>
            <a href="/exchange/{{this.exchangeInfo.name}}">{{this.exchangeInfo.name}}</a>
            {{#unless @index}}${{tier.amount}}{{/unless}}
          </div>
        </td>
        <td class="text-capitalize">
          <div>
            <a href="/exchange/{{this.exchangeInfo.name}}">{{this.exchangeInfo.name}}</a>
            {{this.exchangeInfo.name}}
          </div>
        </td>
        <td>
          <div>
            <a href="/exchange/{{this.exchangeInfo.name}}">{{this.exchangeInfo.name}}</a>
            {{this.method.type}}
          </div>
        </td>
        <td>
          <div>
            <a href="/exchange/{{this.exchangeInfo.name}}">{{this.exchangeInfo.name}}</a>
            {{this.fee}}%
          </div>
        </td>
      </tr>
      {{/each}}
      {{/each}}
    </tbody>
  </table>
</div>

<script>
  var $switchInput = document.querySelector('.form-switch > input');
  var $withdrawTableRows = document.querySelectorAll('.withdraws');
  var $depositTableRows = document.querySelectorAll('.deposits');
  //var $tableRows = document.querySelectorAll('.table tbody tr');

  function displayWithdraws() {
    $withdrawTableRows.forEach(elem => elem.classList.remove("d-none"));
    $depositTableRows.forEach(elem => elem.classList.add("d-none"));
  }
  function displayDeposits() {
    $withdrawTableRows.forEach(elem => elem.classList.add("d-none"));
    $depositTableRows.forEach(elem => elem.classList.remove("d-none"));
  }
  $switchInput.onchange = function (e) {
    if (e.srcElement.checked) {
      displayDeposits();
    } else {
      displayWithdraws();
    }
  }

  if ($switchInput.checked) {
    displayDeposits();
  } else {
    displayWithdraws();
  }
</script>
{{> data_footer}}
